.container
  .header
    %ul.nav.nav-pills.pull-right
      %li
        %a{href: "#"} Home
      %li
        %a{href: "mailto:peenuty@gmail.com"} Contact
    %h3.text-muted Garner
  .jumbotron
    %h1 Garner
    %p.lead  Your secrets. Safe. 
    %p
      %a.btn.btn-lg.btn-success{href: "#", role: "button"} Sign up for early alpha trials.
  .row.marketing
    .col-lg-12
      %h4 What is it
      %p A smartphone app to help you take 'those' videos and keep them secure. 
      %h4 How does it work
      %h5 Like a nuclear missle...You each have a key..
      %p You and a 'friend' make a video using the app. (Make sure you do it 'safely') 
      %p Once you've made the video each of you can only access it with authorisation from the other. So if you like, it's never to be seen again. No chance of someone showing it to their pals or using a camera to catch you off guard. 
      %p 
      %h4 How is it safe
      %p Nobody else needs to see this stuff. You know it, we know it. The video is stored encrypted on the local devices. Nothing is stored with us or any body else. Just you.


  .footer
    %p © Garner 2014